:root {

  --light-gray: rgb(225, 229, 235);

  --gray1: rgb(62, 66, 75);

  --gray2: rgb(40, 42, 47);

  --gray3: rgb(30, 31, 36);

  --gray4: rgb(26, 27, 28);

  --blue: rgb(1, 56, 87);

  --ocean-blueish: rgb(18, 104, 129);

  --old-pink: rgb(144, 80, 79);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--old-pink);
  color: var(--light-gray);
}

body {
  background-color: var(--light-gray);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

button:hover {
  opacity: 0.9;
}

button:active {
  background-color: var(--old-pink);
  color: var(--light-gray);
}
